body {
    text-align: right;
   
    background-color: rgb(184, 176, 165);
}
h1{
    font-size: 70px;
    font-weight: bolder;
}
h3{
    margin-top: 15px;
    color: rgb(102, 30, 85)
}
pre{
    font-size:large;
}

.writer {
    margin-top:-35px ;
}
div{
    margin-top: 40px;
}
.book {
     margin-top: -5px;
}
#list1 {
     margin-top: -30px;
     margin-right: 2px;
     direction: rtl;
}
img {
 margin-top:-20px ;
}
.star1 {color: rgb(162, 120, 14);
}
.star2 {color:rgb(162, 120, 14);
}
.star3 {color:rgb(162, 120, 14);
}
.star4 {color:rgb(162, 120, 14);
}
.rate-number { font-size: large;
}
.other-works {margin-top: -20px;
}
.list {display:flex ,justify-content:flex-end;
}
.buy-the-book {
    font-size: x-large;
    position: relative;
    bottom: 110px; 
    margin-right: 1260px; 
}