header{
    direction: rtl;
    font-size: 60px;
    font-weight: bolder;
}
h1{
font-size:40px ;
font-weight: bold;
direction: rtl;
}

ul{
    direction: rtl;
    list-style-type: none;
    padding:0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3px;
}
li{

    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

a{
  text-decoration: none;
  color: black;
}


li:hover {
    background-color: white;
    width: 15%;
  
  }
    
body{
  background-color: #E0CEBE;
    background-position-y: 200px;
   background-repeat: no-repeat;
   background-size: 500px;
}
.toolbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 10px;
    direction: rtl;
  }
  
  .toolbar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toolbar button:hover {
    background-color: #666;
  }
  .user-info {
    display: flex;
    align-items: center; 
    padding: 20px; 
    background-color:rgba(255, 255, 255, 0.625); 
    border-radius: 8px; 
    margin-bottom: 20px;
}

.user-image {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    margin-left: 15px; 
    object-fit: cover; 
    
}

.user-name {
  direction: rtl;
    font-size: 1.5em; 
    color: #333; 
    margin: 0; 
    margin-left: 84%;
}